/* Section slider */
.section-hero {
  position: relative;
}

.section-hero .slick-slide > div {
  height: 507px;
}

.section-hero__container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-hero__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.section-hero__grid figure {
  display: flex;
}

.section-hero__text {
  display: grid;
  place-content: center;
  row-gap: 30px;
  text-align: center;
  color: var(--text-white);
}

/* Slick */
.slick-actions {
  position: absolute;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.slick-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

/* Section benefits */
.section-benefits {
  padding: 18px 0 24px;
}

.section-benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-benefits__item figure {
  display: flex;
  justify-content: center;
}

.section-benefits__item p {
  font: 600 normal 16px/1.4 var(--font-base), sans-serif;
  text-align: center;
  color: var(--text-gray-10);
}